body {
  background-color: rgb(53, 53, 53);
}

input {
  background-color: #f9f9f9;
  border: 1px solid #001845;
  border-radius: 30px;
  color: #979dac;
  padding: 8px;
  outline: none;
  width: 30%;
}

input::placeholder {
  color: var(--placeholder-color);
}

.search-box {
  text-align: center;
  margin: 10% 0 3%;
}

.countries-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px 3%;
  margin: auto;
  width: 80%;
  color: white;
}

.flag {
  height: 100px;
  width: 100%;
}

.country-container {
  padding: 5px;
  transition: transform 250ms ease-in-out;
  background-color: transparent;
  border: none;
  color: white;
}

.country-container:hover {
  cursor: pointer;
  transform: scale(0.9);
  border: 1px solid #979dac;
}

.dim {
  font-weight: 500;
  color: rgb(138, 135, 135);
  margin-left: 2px;
}

.container-flex {
  margin: 10% auto;
  width: 80%;
  display: flex;
  align-items: center;
}

.details-flex {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}

.details-img {
  width: 100%;
}

.details-text p {
  color: white;
  margin: 15px 0;
}

.details-text {
  margin-left: 20px;
}

.details-badge {
  background-color: black;
  color: white;
  margin-left: 5px;
  font-size: 0.8rem;
  padding: 2px 4px;
  border-radius: 5px;
}
